In [1]:
from pandas_datareader import data as pdr
import yfinance as yf

In [2]:
yf.pdr_override()

In [9]:
y_symbols = ['GOOG', 'AAPL', 'META']

In [10]:
from datetime import datetime

In [18]:
startdate = datetime(2023,3,1)
enddate = datetime(2023,3,8)

In [19]:
data = pdr.get_data_yahoo(y_symbols, start=startdate, end=enddate)

[*********************100%***********************]  3 of 3 completed

In [20]:
data.head()

             Adj Close                              Close             \
                  AAPL       GOOG        META        AAPL       GOOG
Date
2023-03-01  145.309998  90.510002  173.419998  145.309998  90.510002
2023-03-02  145.910004  92.309998  174.529999  145.910004  92.309998
2023-03-03  151.029999  94.019997  185.250000  151.029999  94.019997
2023-03-06  153.830002  95.580002  184.899994  153.830002  95.580002
2023-03-07  151.600006  94.169998  184.509995  151.600006  94.169998

                              High                                Low  \
                  META        AAPL       GOOG        META        AAPL
Date
2023-03-01  173.419998  147.229996  91.199997  177.850006  145.009995
2023-03-02  174.529999  146.710007  92.480003  175.009995  143.899994
2023-03-03  185.250000  151.110001  94.110001  186.619995  147.330002
2023-03-06  184.899994  156.300003  96.300003  189.660004  153.460007
2023-03-07  184.509995  154.029999  96.089996  190.360001  151.130005

                                         Open                         \
                 GOOG        META        AAPL       GOOG        META
Date
2023-03-01  89.849998  173.050003  146.830002  90.160004  174.589996
2023-03-02  89.769997  171.429993  144.380005  89.860001  172.380005
2023-03-03  92.660004  177.050003  148.039993  92.739998  178.919998
2023-03-06  94.300003  184.639999  153.789993  94.360001  188.000000
2023-03-07  93.844002  184.009995  153.699997  95.419998  189.000000

              Volume
                AAPL      GOOG      META
Date
2023-03-01  55479000  26323900  30998400
2023-03-02  52238100  23328600  17352000
2023-03-03  70668500  30220900  45821600
2023-03-06  87558000  28288200  33209400
2023-03-07  56182000  24101500  36701500