In [1]:
pip install quandl

Collecting quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: inflection>=0.3.1 in c:\users\user\anaconda3\lib\site-packages (from quandl) (0.5.1)
Requirement already satisfied: python-dateutil in c:\users\user\anaconda3\lib\site-packages (from quandl) (2.8.2)
Requirement already satisfied: numpy>=1.8 in c:\users\user\anaconda3\lib\site-packages (from quandl) (1.21.5)
Requirement already satisfied: requests>=2.7.0 in c:\users\user\anaconda3\lib\site-packages (from quandl) (2.28.1)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from quandl) (1.16.0)
Requirement already satisfied: pandas>=0.14 in c:\users\user\anaconda3\lib\site-packages (from quandl) (1.4.4)
Collecting more-itertools
  Downloading more_itertools-10.1.0-py3-none-any.whl (55 kB)
     -------------------------------------- 55.8/55.8 kB 723.6 kB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=0.14->quandl) (2022.7.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (3.3)
Installing collected packages: more-itertools, quandl
Successfully installed more-itertools-10.1.0 quandl-3.7.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import quandl

# API key

In [6]:
quandl.ApiConfig.api_key = "U9-QyjWPD_w8UPd2Duyq"

# Important Command

In [7]:
mydata = quandl.get("EIA/PET_RWTC_D")

In [8]:
mydata

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87
...           ...
2022-02-02  88.16
2022-02-03  90.17
2022-02-04  92.27
2022-02-07  91.25
2022-02-08  89.32

[9124 rows x 1 columns]

In [9]:
mydata = quandl.get("FRED/GDP", start_date="2019-12-31", end_date="2020-9-26")

In [10]:
mydata

                Value
Date
2020-01-01  21481.367
2020-04-01  19477.444
2020-07-01  21138.574

In [14]:
import pandas as pd

In [15]:
df= pd.DataFrame(mydata, columns = ['Date', 'Value'])

In [16]:
df.to_csv('US_GDP.csv')

In [18]:
aapl = quandl.get("WIKI/AAPL", start_date="2014-1-1" , end_date="2016-1-1")

In [19]:
aapl.describe()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
count,504.000000,504.000000,504.000000,504.000000,5.040000e+02,504.000000,504.000000,504.000000,504.000000,504.000000,504.000000,5.040000e+02
mean,207.655886,209.401200,205.933348,207.720361,4.325065e+07,0.018472,1.011905,101.022717,101.910366,100.050240,100.981293,5.748111e+07
std,181.295916,182.711415,180.209083,181.596856,2.529600e+07,0.206401,0.267261,17.647335,17.778989,17.408633,17.576358,2.621384e+07
min,90.210000,90.700000,89.650000,90.280000,5.704900e+06,0.000000,1.000000,65.820564,66.664622,65.603901,66.432274,1.304644e+07
25%,108.965000,109.877500,107.357500,108.807500,2.884406e+07,0.000000,1.000000,88.472275,89.186435,87.706347,88.399800,4.090542e+07
50%,118.185000,119.275000,116.990000,118.627500,4.299648e+07,0.000000,1.000000,105.840125,107.008471,104.000621,105.378759,5.132292e+07
75%,130.005000,130.872500,128.962500,129.985000,5.569448e+07,0.000000,1.000000,115.537603,116.648726,114.656560,115.433970,6.823911e+07
max,649.900000,651.260000,644.470000,647.350000,1.895606e+08,3.290000,7.000000,128.233349,128.314416,125.839962,126.931724,2.663808e+08